FIGMA_LAYOUT_URL=https://www.figma.com/design/4w9qS6ENGyU2nt3t4Xv80k/%D0%9C%D0%BE%D0%B9-%D1%81%D0%B0%D0%B9%D1%82?node-id=14-298&t=TsCIdgqP31PX37H1-0
GITHUB_LAYOUT_URL=https://github.com/SunderShadow/My-portfolio